# Virtual Environment
.venv/
venv/

# Jupyter Notebook Cache and Jupyter Notebook Files
*.ipynb_checkpoints/
scripts/.ipynb_checkpoints/
*.ipynb

docs/Project Progress Report
docs/Project Proposal
docs/Progress Docs
streaming_checkpoint
simulation_checkpoint


# Other
.github/
*.p8
*.pub
*.env
__pycache__/